* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: green;
    margin-top: 15px;
}

.container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    color: #333;
    height: 90vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.todo-list:empty {
    display: flex;
}

.empty-state {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.checklist-icon {
    margin-bottom: 15px;
    font-size: 40px;
}

.empty-state_title {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.empty-state_description {
    font-size: 0.8em;
}